@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 224 71% 4%;
    --foreground: 210 40% 98%;

    --card: 220 40% 9%; 
    --card-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 210 40% 98%;

    /* Cor primária agora usa uma variável para o HSL */
    --primary: var(--theme-accent-color, 198 90% 55%);
    --primary-foreground: 210 40% 9.8%;

    --secondary: 217 33% 17%; 
    --secondary-foreground: 210 40% 98%;

    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;

    --accent: hsl(var(--theme-accent-color, 198 90% 48%));
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --border: 217 33% 25%;
    --input: 217 33% 17%;
    --ring: hsl(var(--theme-accent-color, 198 90% 58%));

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 210 40% 98%;
    --card: 220 40% 9%; 
    --card-foreground: 210 40% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 210 40% 98%;
    --primary: var(--theme-accent-color, 198 90% 55%);
    --primary-foreground: 210 40% 9.8%;
    --secondary: 217 33% 17%; 
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: hsl(var(--theme-accent-color, 198 90% 48%));
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 25%;
    --input: 217 33% 17%;
    --ring: hsl(var(--theme-accent-color, 198 90% 58%));
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .reduce-motion * {
    transition: none !important;
    animation: none !important;
  }
}
